/dist/
/build/
/logs/
/pyu-data/
/settings/
settings.json
villages*.txt
keypack.pyu
.pyupdater/work/*
.spec
Untitled-1.ipynb
config.py
change_git_history.txt
/.venv_tribal_wars/
/__pycache__/
/.pyupdater/